<script type="text/javascript">

function infobar(e) {

    var posts = document.getElementsByClassName('post');
    var pimg = document.getElementsByClassName('post-img');
    var pbody = document.getElementsByClassName('post-body');
    var info = document.getElementsByClassName('post-body-info');

    for (var i = 0; i < posts.length; ++i) {

        info[i].style.marginLeft = null;
        info[i].style.paddingLeft = null;
        info[i].style.marginRight = null;
        info[i].style.width = null;

        pbr = posts[i].getBoundingClientRect();
        var ibr = info[i].getBoundingClientRect();

        var h2 = pbody[i].children[0];

        var el = pbody[i].children[3];

        var mw = Math.max(h2.getBoundingClientRect().width, ibr.width);

        if (el.tagName === 'P') {

            if (mw < pbr.width-240) {

                el.style.width = (pbr.width - 260) + 'px';
                pbody[i].style.marginLeft = 20+'px';

                if (pimg[i].getBoundingClientRect().width === 0) {
                    el.style.width = null;
                    pbody[i].style.marginLeft = 0+'px';
                }

            }
            else {

                el.style.width = (pbr.width - 40) + 'px';
                pbody[i].style.marginLeft = 0+'px';
            }
        }

        pbr = posts[i].getBoundingClientRect();
        ibr = info[i].getBoundingClientRect();

        var marginLeft = ibr.left - pbr.left;
        var marginRight = pbr.right - ibr.right;

        info[i].style.marginLeft = -marginLeft+'px';
        info[i].style.paddingLeft = marginLeft+'px';
        info[i].style.marginRight = -marginRight+'px';
        info[i].style.width = pbr.width+'px';

    }
}

window.addEventListener('resize', infobar);
window.addEventListener('load', infobar);

</script>